.dapp {
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(0, 123, 255);;
}

.label {
    background-color: grey;
    padding: 4px;
    font-size: 14px;
    color: white;
    border-radius: 3px;
}
