<div class="dapp text-center">
    <div style="background-color: #343a40">
        <p style="color: white"><b>28</b> days to go<br>
    </div>
  <h3>
    {{ dapp.name }}
    <br>
    <span class="label"><i class="fas fa-tag"></i> {{ dapp.category }}</span>
  </h3>

  <img height="60px" src="{{ dapp.icon }}">
  <br>

  <a href="{{ dapp.homepage }}">{{ dapp.homepage }}</a>

   <!-- <div style="background-color: #343a40">
        <p style="color: white"><b>28</b> days to go<br>
        <b>45</b> days to deliver</p>
    </div>
    -->
    <p>Funding {{ dapp.current_fund }} / {{ dapp.fund_next_stage }} ETH</p>
  <form action="/" method="post">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ dapp.name }}">
    <input class="form-control text-center" type="number" name="eth" min="0" max="{{ dapp.fund_next_stage }}" step="1" value="5"><br>
    <button class="btn btn-primary" type="submit" onclick="alert('You received 50 {{ dapp.name }} tokens')">Fund</button>
  </form>
  <br>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
  <a href="{% url "app:feedback" dapp.name %}">
    <button type="button" class="btn btn-success">Give Feedback</button>
  </a>
</div>
