{% extends "base.html" %}
{% load static %}


{% block content %}
  <link rel="stylesheet" href="{% static "home.css" %}">


  <div class="container">
    <div class="row">
      <h1>dAppStore</h1>
    </div>

    <div class="row">
      <h2>Prototype</h2>
    </div>
    <div class="row">
      {% for prototype in prototypes %}
        <div class="col-3">
          {% include "dapp.html" with dapp=prototype %}
        </div>
      {% endfor %}
    </div>

  <div class="row">
    <div class="row">
      <h2>MVP</h2>
    </div>
    {% for mvp in mvps %}
      <div class="col">
        {% include "dapp.html" with dapp=mvp %}
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="row">
      <h2>Alpha</h2>
    </div>
    {% for alpha in alphas %}
      <div class="col">
        {% include "dapp.html" with dapp=alpha %}
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="row">
      <h2>Beta</h2>
    </div>
    {% for beta in betas %}
      <div class="col">
        {% include "dapp.html" with dapp=beta %}
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="row">
    <h2>Live</h2>
  </div>
  {% for live in lives  %}
    <div class="col">
      {% include "dapp.html" with dapp=live %}
    </div>
  {% endfor %}
  </div>
  </div>
{% endblock %}
